@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

:root{
  --primary-text-color : #232e35;
  --second-text-color : #656d72;

  --border-color: #f1f1f1;
  --line-color: #d9d9d9;

  --primary-bg-color : #ffffff;
  --second-bg-color: #fbfbfb;
  --third-bg-color: #f3f5fe;

  --primary-icon-color: #7e74f1;
  --primary-icon-color-hover: #5d51e8;

  --font-title-desktop : 30px;
  --font-paragraph-desktop : 22px;
  --font-pretitle-desktop : 26px;

  --font-title-ipad : 26px;
  --font-paragraph-ipad : 18px;
  --font-pretitle-ipad : 22px;

  --font-title-mobile : 22px;
  --font-paragraph-mobile : 14px;
  --font-pretitle-mobile : 18px;

}

h1,h2,h3,h4,h5,h6,strong{
  color: var(--primary-text-color);
}

p,span,label,input,textarea,li{
  color: var(--second-text-color);
}

a{
  text-decoration: none;
}

/* Buttons */
.btn{
  border: 1.5px solid var(--border-color);
  padding: 1rem 1.5rem;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease;
  color: var(--primary-text-color);
}

.btn:hover{
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
  text-decoration: none;
  color: var(--primary-text-color);
}

/* Title */
.pre-title{
 text-transform: uppercase;
 letter-spacing: 0.5rem;
 color: var(--second-text-color);
 position: relative;
 padding-left: 40px;
 width: fit-content;
 font-weight: 400px;
 font-size: 1.1rem;
}

.pre-title::before{
  content: "";
  position: absolute;
  background-color: var(--line-color);
  width: 30px;
  height: 1px;
  display: block;
  left: 0;
  top: 10px;
}

.section-title{
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

/* Navbar */
header {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.logo{
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: var(--primary-text-color);
}

.logo:hover{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.menu-nav{
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.menu-nav li .nav-item{
  position: relative;
  text-decoration: none;
  color: var(--primary-text-color);
  padding: 0 10px;
  font-weight: 500;
}

.menu-nav li .nav-item::after{
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  left: 0;
  background-color: var(--primary-icon-color);
  bottom: -10px;
  transition: ease 0.5s;
}

.menu-nav li .nav-item:hover::after{
  width: 100%;
}

.mobile-nav{
  display: none;
}

.hamburger{
  display: none;
}

/* Hero section */
.hero{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-wrapper{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.left-hero{
  width: 50%;
}

.hero-name{
  color: var(--primary-text-color);
  font-size: 2.5rem;
  font-weight: 800;
  margin: .5rem 0 1rem;
}

.hero-name span{
  color: var(--primary-icon-color);
}

.hero-paragraph{
  font-size: 1.4rem;
  color: var(--second-text-color);
}

.right-hero{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.right-hero img{
  border: 3px solid var(--other-color);
  border-radius: 50%;
  width: 60%;
  height: 60%;
}

/* Service */
.services{
  background-color: var(--second-bg-color);
  padding: 6rem 0;
}

.services .pre-title{
  margin: 0 auto;
}

.service-title{
  text-align: center;
}

.service-detail-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px;
}

.service-container{
  padding: 3rem 2rem;
  background-color: var(--primary-bg-color);
  border-radius: 10px;
  text-align: center;
  cursor: default;
  width: 350px;
  transition: all 0.5s ease;
}

.service-container:hover{
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
}

.service-icon{
  background-color: var(--third-bg-color);
  width: fit-content;
  margin: 1.3rem auto;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  color: var(--second-text-color);
}

.service-icon i{
  color: var(--primary-icon-color);
  font-size: 1.8rem;
}

/* Skill Section */
.skills{
  padding: 6rem 0px;
}

.skill-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skill{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-icon{
  width: 80px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
}

.skill-icon img{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

/* Project */
.projects{
  background-color: var(--second-bg-color);
  padding: 6rem 0px;
}

.project-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.project{
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--border-color);
}

.project-cover{
  height: 250px;
}

.project-cover img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info{
  padding: 2rem 1.5rem;
}

.project-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.project h4{
  font-weight: 500;
  font-size: 1.05rem;
}

.project a{
  color: var(--primary-text-color);
}

.project a:hover{
  color: var(--primary-icon-color);
}

.project-tags{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

.project-tags div{
  font-size: 0.8rem;
  border: 1px solid var(--border-color);
  padding: .4rem 1rem;
}

/* Contact */
.contacts{
  padding: 6rem 0;
}

.contact{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contact-form div{
  margin-bottom: 1.4rem;
}

.contact-form input, .contact-form textarea{
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Poppins";
  background-color: var(--second-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  resize: none;
}

.contact-form input::placeholder, .contact-form textarea::placeholder{
  color: #9d9fa1;
}

.contact-form input:focus, .contact-form textarea:focus{
  outline: none;
  border: 1px solid #7d7d7d;
}

.btn-submit{
  width: 100%;
  background-color: var(--primary-icon-color);
  padding: 0.75rem 1.3rem;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-submit:hover{
  background-color: var(--primary-icon-color-hover);
}

.contact-item-icon{
  background-color: var(--third-bg-color);
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item{
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.contact-item-icon i{
  font-size: 1.4rem;
  color: var(--primary-icon-color);
}

.contact-item-detail h4{
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 800;
}

/* footer */
.footer{
  padding: 1.8rem 0;
  background-color: var(--second-bg-color);
  text-align: center;
}

.footer-icons{
  margin-bottom: 1rem;
}

.footer-icons a{
  text-decoration: none;
  margin: 0px 10px;
}

.footer-icons a i{
  color: var(--primary-text-color);
  font-size: 1.8rem;
}

.footer-icons a i:hover{
  color: #000000;
}

.footer span{
  color: var(--primary-icon-color-hover);
  font-weight: 800;
}

/* Desktop */
@media (max-width: 1000px){

  /* Navbar */
  header {
    position: fixed;
    width: 100%;
    z-index: 99;
    padding: 0;
  }

  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  .logo{
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: var(--primary-text-color);
  }

  .logo:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
  }

  .menu-nav{
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 8px;
  }

  .menu-nav li .nav-item{
    position: relative;
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 18px;
  }

  .menu-nav li .nav-item::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    background-color: var(--primary-icon-color);
    bottom: -10px;
    transition: ease 0.5s;
  }

  .menu-nav li .nav-item:hover::after{
    width: 100%;
  }

  .mobile-nav{
    display: none;
  }

  .hamburger{
    display: none;
  }

  /* Hero section */
  .hero{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .left-hero{
    width: 50%;
  }

  .hero-name{
    color: var(--primary-text-color);
    font-size: 2rem;
    font-weight: 800;
    margin: .5rem 0 1rem;
  }

  .hero-name span{
    color: var(--primary-icon-color);
  }

  .hero-paragraph{
    font-size: 1.2rem;
    color: var(--second-text-color);
  }

  .right-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  .right-hero img{
    border: 3px solid var(--primary-icon-color);
    border-radius: 50%;
    width: 58%;
    height: 58%;
  }

  /* Service */
  .services{
    background-color: var(--second-bg-color);
    padding: 6rem 0;
  }

  .services .pre-title{
    margin: 0 auto;
  }

  .service-title{
    text-align: center;
  }

  .service-detail-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 30px;
  }

  .service-container{
    padding: 3rem 2rem;
    background-color: var(--primary-bg-color);
    border-radius: 10px;
    text-align: center;
    cursor: default;
    width: 340px;
    transition: all 0.5s ease;
  }

  .service-container:hover{
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
  }

  .service-container h4{
    font-size: 22px;
    font-weight: 600;
  }

  .service-container p{
    font-size: 20px;
  }

  .service-icon{
    background-color: var(--third-bg-color);
    width: fit-content;
    margin: 1.3rem auto;
    padding: 1rem 1.2rem;
    border-radius: 0.5rem;
    color: var(--second-text-color);
  }

  .service-icon i{
    color: var(--primary-icon-color);
    font-size: 1.8rem;
  }

  /* Skill Section */
  .skills{
    padding: 6rem 0px;
  }

  .skill-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .skill{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .skill-icon{
    width: 80px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
  }

  .skill-icon img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
  }

  /* Project */
  .projects{
    background-color: var(--second-bg-color);
    padding: 6rem 0px;
  }

  .project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }

  .project{
    width: 280px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--border-color);
  }

  .project-cover{
    height: 180px;
  }

  .project-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project-info{
    padding: 2rem 1.5rem;
  }

  .project-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .project h4{
    font-weight: 500;
    font-size: 1.05rem;
  }

  .project a{
    color: var(--primary-text-color);
  }

  .project a:hover{
    color: var(--primary-icon-color);
  }

  .project-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
  }

  .project-tags div{
    font-size: 0.8rem;
    border: 1px solid var(--border-color);
    padding: .4rem 1rem;
  }

  /* Contact */
  .contacts{
    padding: 6rem 0;
  }

  .contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
  }

  .contact-form div{
    margin-bottom: 1.4rem;
  }

  .contact-form input, .contact-form textarea{
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Poppins";
    background-color: var(--second-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    resize: none;
  }

  .contact-form input::placeholder, .contact-form textarea::placeholder{
    color: #9d9fa1;
  }

  .contact-form input:focus, .contact-form textarea:focus{
    outline: none;
    border: 1px solid #7d7d7d;
  }

  .btn-submit{
    width: 100%;
    background-color: var(--primary-icon-color);
    padding: 0.75rem 1.3rem;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .btn-submit:hover{
    background-color: var(--primary-icon-color-hover);
  }

  .contact-item-icon{
    background-color: var(--third-bg-color);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-item{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .contact-item-icon i{
    font-size: 1.4rem;
    color: var(--primary-icon-color);
  }

  .contact-item-detail h4{
    margin-bottom: 0.6rem;
    font-size: 1rem;
    font-weight: 800;
  }

  /* footer */
  .footer{
    padding: 1.8rem 0;
    background-color: var(--second-bg-color);
    text-align: center;
  }

  .footer-icons{
    margin-bottom: 1rem;
  }

  .footer-icons a{
    text-decoration: none;
    margin: 0px 10px;
  }

  .footer-icons a i{
    color: var(--primary-text-color);
    font-size: 1.8rem;
  }

  .footer-icons a i:hover{
    color: #000000;
  }

  .footer span{
    color: var(--primary-icon-color-hover);
    font-weight: 800;
  }
}

/* Tablet and mobile */
@media (max-width: 768px){

  /* Navbar */
  header {
    position: fixed;
    width: 100%;
    z-index: 99;
    padding: 0;
  }

  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  .logo{
    font-size: 26px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: var(--primary-text-color);
    z-index: 99;
  }

  .logo:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
  }

  .menu-nav{
    position: fixed;
    width: 100%;
    left: 0;
    flex-direction: column;
    z-index: 98;
    background-color: var(--second-bg-color);
    border-bottom: 3px solid var(--border-color);
    padding-top: 60px;
    transform: translateY(-100%);
    transition: 0.4s;
  }

  .menu-nav.is-active {
    transform: translateY(40%);
  }

  .menu-nav li .nav-item {
    display: block;
    margin: 0.6rem auto 0.8rem;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 16px;
  }

  .btn{
    margin: 0 0 1rem;
  }

  .hamburger {
    position: relative;
    display: block;
    width: 25px;
    cursor: pointer;
    
    appearance: none;
    background-color: transparent;
    outline: none;
    border: none;
    z-index: 99;
  }

  .hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000000;
    margin: 4px 0px;
    transition: 0.4s;
  }

  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  
  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-5px, -5px);
  }
  
  .hamburger.is-active .bar {
    opacity: 0;
  }

  /* Hero section */
  .hero{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-wrapper{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .left-hero{
    width: 100%;
    text-align: center;
  }

  .left-hero .pre-title{
    margin: 0 auto;
  }

  .hero-name{
    color: var(--primary-text-color);
    font-size: 1.5rem;
    font-weight: 800;
    margin: .5rem 0 1rem;
  }

  .hero-name span{
    color: var(--primary-icon-color);
  }

  .hero-paragraph{
    font-size: 1rem;
    color: var(--second-text-color);
  }

  .right-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .right-hero img{
    border: 3px solid var(--primary-icon-color);
    border-radius: 50%;
    width: 35%;
    height: 35%;
  }

  /* Service */
  .services{
    background-color: var(--second-bg-color);
    padding: 4rem 0;
  }

  .services .pre-title{
    margin: 0 auto;
  }

  .service-title{
    text-align: center;
    font-size: 1.5rem;
  }

  .service-detail-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .service-container{
    padding: 1rem .5rem;
    width: 400px;
  }

  .service-container:hover{
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
  }

  .service-container h4{
    font-size: 18px;
    font-weight: 600;
  }

  .service-container p{
    font-size: 16px;
  }

  .service-icon{
    background-color: var(--third-bg-color);
    width: fit-content;
    margin: 1.3rem auto;
    padding: 1rem 1.2rem;
    border-radius: 0.5rem;
    color: var(--second-text-color);
  }

  .service-icon i{
    color: var(--primary-icon-color);
    font-size: 1.8rem;
  }

  /* Skill Section */
  .skills{
    padding: 4rem 0px;
  }

  .skill-container{
    display: flex;
    justify-content: center;
  }

  .main-skill .pre-title{
    margin: 0 auto;
  }

  .main-skill h1{
    text-align: center;
    font-size: 1.5rem;
  }

  .skill{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .skill-icon{
    width: 60px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
  }

  .skill-icon img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
  }

  /* Project */
  .projects{
    background-color: var(--second-bg-color);
    padding: 4rem 0px;
  }

  .project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .main-project .pre-title{
    margin: 0 auto;
  }

  .main-project h1{
    text-align: center;
    font-size: 1.5rem;
  }

  .project{
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--border-color);
  }

  .project-cover{
    height: 180px;
  }

  .project-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project-info{
    padding: 2rem 1.5rem;
  }

  .project-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .project h4{
    font-weight: 500;
    font-size: 1.05rem;
  }

  .project a{
    color: var(--primary-text-color);
  }

  .project a:hover{
    color: var(--primary-icon-color);
  }

  .project-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
  }

  .project-tags div{
    font-size: 0.8rem;
    border: 1px solid var(--border-color);
    padding: .4rem 1rem;
  }

  /* Contact */
  .contacts{
    padding: 6rem 0;
  }

  .contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
  }

  .contact-form div{
    margin-bottom: 1.4rem;
  }

  .contact-form input, .contact-form textarea{
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Poppins";
    background-color: var(--second-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    resize: none;
  }

  .contact-form input::placeholder, .contact-form textarea::placeholder{
    color: #9d9fa1;
  }

  .contact-form input:focus, .contact-form textarea:focus{
    outline: none;
    border: 1px solid #7d7d7d;
  }

  .btn-submit{
    width: 100%;
    background-color: var(--primary-icon-color);
    padding: 0.75rem 1.3rem;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .btn-submit:hover{
    background-color: var(--primary-icon-color-hover);
  }

  .contact-item-icon{
    background-color: var(--third-bg-color);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-item{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .contact-item-icon i{
    font-size: 1.4rem;
    color: var(--primary-icon-color);
  }

  .contact-item-detail h4{
    margin-bottom: 0.6rem;
    font-size: 1rem;
    font-weight: 800;
  }

  /* footer */
  .footer{
    padding: 1.8rem 0;
    background-color: var(--second-bg-color);
    text-align: center;
  }

  .footer-icons{
    margin-bottom: 1rem;
  }

  .footer-icons a{
    text-decoration: none;
    margin: 0px 10px;
  }

  .footer-icons a i{
    color: var(--primary-text-color);
    font-size: 1.8rem;
  }

  .footer-icons a i:hover{
    color: #000000;
  }

  .footer span{
    color: var(--primary-icon-color-hover);
    font-weight: 800;
  }
}

